<% if @chatroom.try(:is_private?) %>
  <% if session[:chatroom_access] == @chatroom.id %>
    <%= render partial: 'chatrooms/open_chatroom', locals: { chatroom: @chatroom, message: @message } %>
  <% else %>
    <%= render partial: 'chatrooms/close_chatroom' %>
  <% end %>
<% else %>
  <%= render partial: 'chatrooms/open_chatroom', locals: { chatroom: @chatroom, message: @message } %>
<% end %>
<div id="show_modal"></div>
